[submodule "database-docker-postgres"]
	path = database-docker-postgres
	url = https://github.com/JiaPy666/database-docker-postgres.git
[submodule "backend-uda"]
	path = backend-uda
	url = https://github.com/JiaPy666/backend-uda.git
[submodule "frontend-uda"]
	path = frontend-uda
	url = https://github.com/JiaPy666/frontend-uda.git
